header {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

button {
  cursor: pointer;
  transition: 0.3s;
}

.web-logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: #222222;
}

header ol {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

header ol li {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #222222;
  transition: 0.3s;
}

header ol li:hover {
  color: #402f2c;
  font-weight: 500;
  text-decoration: underline;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 26px;
}

header nav button {
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: #222222;
}

header nav button:hover {
  color: #402f2c;
  transform: scale(1.04);
}

.sect-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
  margin-top: 110px;
  background: linear-gradient(1deg, #f9f6f5, #ffffff);
}

.sect-1--bg {
  width: 55%;
  height: auto;
}

.sect-1 h1 {
  font-weight: 500;
  font-size: 56px;
  line-height: 70px;
  letter-spacing: 0%;
  color: #000000;
}

.sect-1 p {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;
  color: #555555;
  width: 80%;
  margin-top: 30px;
}

.sect-1--input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  width: 300px;
  height: 48px;
  background-color: #ffffff;
  margin-top: 30px;
  border-radius: 4px;
}

.sect-1--input input {
  background-color: transparent;
  color: #402f2c;
  border: none;
  outline: none;
  width: 85%;
  height: 100%;
  font-size: 14px;
}

.sect-1--input button {
  background-color: #402f2c;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: #ffffff;
  font-size: 14px;
  border-radius: 4px;
}

.sect-1--input button:hover {
  background-color: #555555;
}

.shop-now {
  width: 148px;
  height: 56px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #402f2c;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  margin-top: 60px;
  border: none;
}

.shop-now:hover {
  background-color: #555555;
}

.sect-2 {
  width: 80%;
  height: 113px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  margin: 130px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sect-2 img{
    width: 100px;
    transition: 0.2s;
}

.sect-2 a:hover img{
    transform: scale(1.1);
    opacity: 80%;
}